In [1]:
from sqlmodel import SQLModel, Field, Relationship, create_engine
from datetime import datetime
from database import Customer,CustomerOffer,SupplierPayment,Suppliers






engine = create_engine("sqlite:///storage/invoice_tracker_null.db", echo=True)

SQLModel.metadata.create_all(engine)

2025-07-18 14:14:35,557 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-18 14:14:35,558 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2025-07-18 14:14:35,559 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,560 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2025-07-18 14:14:35,561 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,561 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customerOffers")
2025-07-18 14:14:35,562 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,562 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customerOffers")
2025-07-18 14:14:35,564 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,564 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("suppliers")
2025-07-18 14:14:35,564 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,565 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("suppliers")
2025-07-18 14:14:35,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,566 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("supplierPayment")
2025-07-18 14:14:35,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,567 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("supplierPayment")
2025-07-18 14:14:35,569 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-18 14:14:35,570 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	"customerId" INTEGER NOT NULL,
	"customerNumber" INTEGER NOT NULL,
	"customerKey" VARCHAR NOT NULL,
	name VARCHAR(255),
	email VARCHAR(255),
	phone VARCHAR(50),
	"customerType" VARCHAR(100),
	"creditTerms" VARCHAR NOT NULL,
	"createAt" DATETIME,
	"modifiedAt" DATETIME,
	"createdBy" VARCHAR(100),
	"modifiedBy" VARCHAR(100),
	PRIMARY KEY ("customerId")
)


2025-07-18 14:14:35,571 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2025-07-18 14:14:35,586 INFO sqlalchemy.engine.Engine
CREATE TABLE suppliers (
	"supplierId" INTEGER NOT NULL,
	"vendorId" INTEGER NOT NULL,
	name VARCHAR(255),
	email VARCHAR(255),
	phone VARCHAR(50),
	"supplierType" VARCHAR(100),
	"creditTerms" VARCHAR,
	"createAt" DATETIME,
	"modifiedAt" DATETIME,
	"createdBy" VARCHAR(100),
	"modifiedBy" VARCHAR(100),
	PRIMARY KEY ("supplierId")
)


2025-07-18 14:14:35,588 INFO sqlalchemy.engine.Engine [no key 0.00137s] ()
2025-07-18 14:14:35,596 INFO sqlalchemy.engine.Engine
CREATE TABLE "customerOffers" (
	"customerOfferId" INTEGER NOT NULL,
	"invoiceDate" DATE NOT NULL,
	"invoiceNumber" VARCHAR(50),
	"customerId" INTEGER NOT NULL,
	"customerKey" VARCHAR NOT NULL,
	"creditAmount" FLOAT,
	"discountRate" FLOAT NOT NULL,
	"discountPercentage" FLOAT NOT NULL,
	"originalPaymentDate" DATE NOT NULL,
	"offeredPaymentDate" DATE NOT NULL,
	"totalInterest" FLOAT NOT NULL,
	"offerSentBy" VARCHAR(100),
	"offerSentDate" DATETIME,
	"offerDecisionDate" DATETIME,
	"offerStatus" VARCHAR NOT NULL,
	"createAt" DATETIME,
	"modifiedAt" DATETIME,
	"createdBy" VARCHAR(100),
	"modifiedBy" VARCHAR(100),
	PRIMARY KEY ("customerOfferId"),
	FOREIGN KEY("customerId") REFERENCES customers ("customerId")
)


2025-07-18 14:14:35,597 INFO sqlalchemy.engine.Engine [no key 0.00123s] ()
2025-07-18 14:14:35,605 INFO sqlalchemy.engine.Engine
CREATE TABLE "supplierPayment" (
	"supplierPaymentId" INTEGER NOT NULL,
	"invoiceUniqueKey" VARCHAR NOT NULL,
	"invoiceDate" DATE NOT NULL,
	"vendorId" VARCHAR,
	"invoiceNumber" VARCHAR(50),
	"supplierId" INTEGER NOT NULL,
	"creditAmount" FLOAT,
	"discountRate" FLOAT NOT NULL,
	"discountPercentage" FLOAT NOT NULL,
	"originalPaymentDate" DATE NOT NULL,
	"offeredPaymentDate" DATE NOT NULL,
	"offerStatus" VARCHAR NOT NULL,
	"offerSentBy" VARCHAR(100),
	"offerSentDate" DATETIME,
	"offerDecisionDate" DATETIME,
	"createAt" DATETIME,
	"modifiedAt" DATETIME,
	"createdBy" VARCHAR(100),
	"modifiedBy" VARCHAR(100),
	PRIMARY KEY ("supplierPaymentId"),
	FOREIGN KEY("supplierId") REFERENCES suppliers ("supplierId")
)


2025-07-18 14:14:35,606 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2025-07-18 14:14:35,614 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
output=select().join()

In [1]:
import pandas as pd
db=pd.read_csv('customer_master.csv')
db['Entered_date']=pd.to_datetime(db['Entered_date'])
db.dtypes

db.isna().sum()

db['email'].unique()

array(['delinchackrapurkal@gmail.com'], dtype=object)

In [3]:
db.head()

,Customer_No,Customer_Name,Terms,email,Entered_date
0,83303,Lewis-Macdonald,30 Days Net,delinchackrapurkal@gmail.com,2023-03-28
1,45241,"Strong, Porter and Wolfe",30 Days Net,delinchackrapurkal@gmail.com,2016-07-02
2,97394,Hopkins-Gutierrez,Immediate,delinchackrapurkal@gmail.com,2021-03-26
3,40759,Jordan Group,14 Days Net,delinchackrapurkal@gmail.com,2023-05-25
4,54877,"Cummings, Lowe and Jones",30 Days Net,delinchackrapurkal@gmail.com,2015-06-25

In [2]:

from services import CreateCustomerData


from sqlmodel import SQLModel, Field, Relationship, create_engine,Session


engine = create_engine("sqlite:///databases/invoice_tracker.db", echo=True)
insert=CreateCustomerData(engine)
insert.customer_metadata_insert(db)

ModuleNotFoundError: No module named 'services'

In [3]:
import pandas as pd
db=pd.read_csv('customer_invoice.csv')
db['Invoice_date']=pd.to_datetime(db['Invoice_date'])

In [5]:

from services import CreateCustomerData


from sqlmodel import SQLModel, Field, Relationship, create_engine,Session


engine = create_engine("sqlite:///databases/invoice_tracker.db", echo=True)
insert=CreateCustomerData(engine)
insert.customer_invoice_insert(db)

2025-06-27 18:42:38,123 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-27 18:42:38,125 INFO sqlalchemy.engine.Engine SELECT customer_master_data.id, customer_master_data.credit_terms
FROM customer_master_data
2025-06-27 18:42:38,126 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ()
2025-06-27 18:42:38,127 INFO sqlalchemy.engine.Engine ROLLBACK
2025-06-27 18:42:50,164 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-27 18:42:51,790 INFO sqlalchemy.engine.Engine INSERT INTO customer_invoice_data (invoice_number, invoice_date, invoice_gross_vlaue, invoice_currency, payment_data, updated_payment_date, total_interest, offer_amount, request_sent, request_accepted, customer_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-06-27 18:42:51,791 INFO sqlalchemy.engine.Engine [generated in 0.99351s] [(623164, '2024-08-18 00:00:00.000000', 456686.64, 'KES', '2024-09-08 00:00:00.000000', '2024-09-08 00:00:00.000000', None, None, 0, 0, 16430), (275887, '2024-07-24 00:00:00.000000', 580846.83, 'USD', '2024-08-14 00:00:00.000000', '2024-08-14 00:00:00.000000', None, None, 0, 0, 77885), (676226, '2024-07-21 00:00:00.000000', 567384.52, 'KES', '2024-09-19 00:00:00.000000', '2024-09-19 00:00:00.000000', None, None, 0, 0, 98994), (950009, '2024-07-30 00:00:00.000000', 598683.4, 'USD', '2024-08-06 00:00:00.000000', '2024-08-06 00:00:00.000000', None, None, 0, 0, 18669), (712781, '2024-07-14 00:00:00.000000', 732186.29, 'KES', '2024-07-14 00:00:00.000000', '2024-07-14 00:00:00.000000', None, None, 0, 0, 13068), (966002, '2024-12-30 00:00:00.000000', 848746.02, 'KES', '2024-12-30 00:00:00.000000', '2024-12-30 00:00:00.000000', None, None, 0, 0, 8001), (722496, '2024-05-15 00:00:00.000000', 448666.59, 'USD', '2024-05-29 00:00:00.000000', '2024-05-29 00:00:00.000000', None, None, 0, 0, 26316), (523495, '2024-05-17 00:00:00.000000', 757042.12, 'USD', '2024-05-24 00:00:00.000000', '2024-05-24 00:00:00.000000', None, None, 0, 0, 94389)  ... displaying 10 of 100000 total bound parameter sets ...  (184046, '2024-06-03 00:00:00.000000', 802648.94, 'KES', '2024-06-17 00:00:00.000000', '2024-06-17 00:00:00.000000', None, None, 0, 0, 32065), (349348, '2024-10-24 00:00:00.000000', 840709.6, 'USD', '2024-11-23 00:00:00.000000', '2024-11-23 00:00:00.000000', None, None, 0, 0, 19858)]
2025-06-27 18:42:52,844 INFO sqlalchemy.engine.Engine COMMIT

{'succefully entered the whole document'}

In [4]:

from sqlmodel import SQLModel, Field, Relationship, create_engine,Session,select
from database import Customer_Invoice_Data,Customer_Master_Data
session=Session(engine)
output=select(Customer_Invoice_Data, Customer_Master_Data).join(Customer_Master_Data)
a=0
for i in session.exec(output):
    a+=1
    print(i)
    if a>1:
        break

ImportError: cannot import name 'query_based_on_gross_value' from 'database.sql_reader' (/home/delin/Coding/pwani_finance/database/sql_reader.py)

In [5]:
import pandas as pd
from sqlmodel import Session, select,create_engine
from database import Customer_Invoice_Data,Customer_Master_Data


engine = create_engine("sqlite:///storage/invoice_tracker.db", echo=True)
with Session(engine) as session:
    stmt = select(Customer_Invoice_Data, Customer_Master_Data).join(Customer_Master_Data)
    results = session.exec(stmt)
    a=0
    data = []
    for invoice, customer in results:
        dict=customer.model_dump() | invoice.model_dump()
        data.append(dict)


        
df=pd.DataFrame(data)

2025-06-28 16:43:50,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-28 16:43:50,744 INFO sqlalchemy.engine.Engine SELECT customer_invoice_data.invoice_number, customer_invoice_data.invoice_date, customer_invoice_data.invoice_gross_vlaue, customer_invoice_data.invoice_currency, customer_invoice_data.payment_data, customer_invoice_data.updated_payment_date, customer_invoice_data.total_interest, customer_invoice_data.offer_amount, customer_invoice_data.request_sent, customer_invoice_data.request_accepted, customer_invoice_data.customer_id, customer_master_data.id, customer_master_data.added_date, customer_master_data.name, customer_master_data.email, customer_master_data.credit_terms
FROM customer_invoice_data JOIN customer_master_data ON customer_master_data.id = customer_invoice_data.customer_id
2025-06-28 16:43:50,745 INFO sqlalchemy.engine.Engine [generated in 0.00064s] ()
2025-06-28 16:43:54,194 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
df.to_csv("output_data.csv")

In [1]:
import pandas as pd

df=pd.read_csv('output_data.csv')

In [2]:
df.columns

Index(['Unnamed: 0', 'email', 'credit_terms', 'added_date', 'id', 'name',
       'invoice_date', 'invoice_gross_vlaue', 'payment_data', 'total_interest',
       'request_sent', 'customer_id', 'invoice_currency', 'invoice_number',
       'updated_payment_date', 'offer_amount', 'request_accepted'],
      dtype='object')

In [3]:
data=df[['invoice_date','name','credit_terms','email','invoice_gross_vlaue','invoice_currency','payment_data','id','customer_id']]

In [4]:
data

      invoice_date                          name  ...     id customer_id
0       2024-11-04               Palmer-Peterson  ...  61602       61602
1       2024-05-15                Rojas and Sons  ...  18058       18058
2       2024-12-25                 Alvarado-West  ...  66407       66407
3       2024-10-30       Hurst, Allen and Gibson  ...  96909       96909
4       2024-06-22                  Phillips PLC  ...  91698       91698
...            ...                           ...  ...    ...         ...
99995   2024-05-15                Lowery-Collins  ...   2370        2370
99996   2024-10-18  Mendez, Hancock and Fletcher  ...  79832       79832
99997   2024-06-07              Armstrong-Kramer  ...  38022       38022
99998   2024-12-15                 Beck and Sons  ...  37320       37320
99999   2024-07-19         Berger, Clay and Hart  ...  35196       35196

[100000 rows x 9 columns]

In [ ]:
def offer_processor(raw_data, input_data):
    print(raw_data.columns)
    raw
    # Fix column name early
    raw_data.rename(columns={"invoice_gross_vlaue": "invoice_gross_value"}, inplace=True)

    # Convert to KES
    raw_data['invoice_gross_value_kes'] = raw_data.apply(
        lambda x: x['invoice_gross_value'] * input_data['exchange_rate']
        if x['invoice_currency'] == 'USD'
        else x['invoice_gross_value'],
        axis=1
       
    )

    # Gross finance calc
    raw_data['gross_finance'] = (
        raw_data['credit_terms'] * 
        (input_data['cost_of_finance_per_day'] / 100) * 
        raw_data['invoice_gross_value_kes']
    )

    # Offer calc
    raw_data['max_allowed_offer'] = (
        raw_data['invoice_gross_value_kes'] * (input_data['max_discount_amount'] / 100)
    )

    raw_data['discount_amount'] = (
        raw_data['gross_finance'] * (input_data['persentage_of_discount_savings'] / 100)
    )

    final_data = raw_data[
        raw_data['max_allowed_offer'] >= raw_data['discount_amount']
    ].copy()

    # Offer availability date
    final_data["offer_avail_data"] = final_data.apply(
        lambda x: x['invoice_date']+ pd.to_timedelta(input_data.get(f"day_{x['credit_terms']}_c", 0), unit="d"),
      
    )

    return final_data

In [10]:
data.columns

Index(['invoice_date', 'name', 'credit_terms', 'email', 'invoice_gross_vlaue',
       'invoice_currency', 'payment_data', 'id', 'customer_id'],
      dtype='object')

In [6]:
data['invoice_currency']

0        KES
1        USD
2        USD
3        KES
4        USD
        ...
99995    KES
99996    KES
99997    USD
99998    USD
99999    KES
Name: invoice_currency, Length: 100000, dtype: object

In [24]:
# input_data = {
#     "minimum_threshold": 10000,
#     "persentage_of_discount_savings": 40,
#     "max_discount_amount": 9,
#     "cost_of_finance_per_day": 0.2,
#     "day_14_c": 7,
#     "day_21_c": 14,
#     "day_30_c": 15,
#     "day_60_c": 30,
#     "exchange_rate": 160
# }
# db=offer_processor(data,input_data)

In [25]:
data.head()

  invoice_date                     name  ...  max_allowed_offer discount_amount
0   2024-11-04          Palmer-Peterson  ...       6.653077e+04    2.661231e+04
1   2024-05-15           Rojas and Sons  ...       1.035716e+07    2.761910e+06
2   2024-12-25            Alvarado-West  ...       9.462108e+06    2.523229e+06
3   2024-10-30  Hurst, Allen and Gibson  ...       4.764561e+04    5.929232e+03
4   2024-06-22             Phillips PLC  ...       1.062904e+07    0.000000e+00

[5 rows x 13 columns]

In [1]:
input_data = {
    "minimum_threshold": 10000,
    "persentage_of_discount_savings": 40,
    "max_discount_amount": 9,
    "cost_of_finance_per_day": 0.2,
    "day_14_c": 7,
    "day_21_c": 14,
    "day_30_c": 15,
    "day_60_c": 30,
    "exchange_rate": 160
}

In [2]:
import pandas as pd
df=pd.read_csv('output_data.csv')
data=df[['invoice_date','name','credit_terms','email','invoice_gross_vlaue','invoice_currency','payment_data','id','customer_id']]

In [3]:
data.head()

,invoice_date,name,credit_terms,email,invoice_gross_vlaue,invoice_currency,payment_data,id,customer_id
0,2024-11-04,Palmer-Peterson,45,delinchackrapurkal@gmail.com,739230.78,KES,2024-12-19,61602,61602
1,2024-05-15,Rojas and Sons,30,delinchackrapurkal@gmail.com,719247.31,USD,2024-06-14,18058,18058
2,2024-12-25,Alvarado-West,30,delinchackrapurkal@gmail.com,657090.84,USD,2025-01-24,66407,66407
3,2024-10-30,"Hurst, Allen and Gibson",14,delinchackrapurkal@gmail.com,529395.69,KES,2024-11-13,96909,96909
4,2024-06-22,Phillips PLC,0,delinchackrapurkal@gmail.com,738127.99,USD,2024-06-22,91698,91698

In [4]:
data['value_in_kes']=data.apply(
    lambda x : x['invoice_gross_vlaue']*input_data['exchange_rate'] if x['invoice_currency'] == "USD" else x['invoice_gross_vlaue']
    ,axis=1
    )

/tmp/ipykernel_86969/901712519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['value_in_kes']=data.apply(

In [5]:
data

,invoice_date,name,credit_terms,email,invoice_gross_vlaue,invoice_currency,payment_data,id,customer_id,value_in_kes
0,2024-11-04,Palmer-Peterson,45,delinchackrapurkal@gmail.com,739230.78,KES,2024-12-19,61602,61602,7.392308e+05
1,2024-05-15,Rojas and Sons,30,delinchackrapurkal@gmail.com,719247.31,USD,2024-06-14,18058,18058,1.150796e+08
2,2024-12-25,Alvarado-West,30,delinchackrapurkal@gmail.com,657090.84,USD,2025-01-24,66407,66407,1.051345e+08
3,2024-10-30,"Hurst, Allen and Gibson",14,delinchackrapurkal@gmail.com,529395.69,KES,2024-11-13,96909,96909,5.293957e+05
4,2024-06-22,Phillips PLC,0,delinchackrapurkal@gmail.com,738127.99,USD,2024-06-22,91698,91698,1.181005e+08
...,...,...,...,...,...,...,...,...,...,...
99995,2024-05-15,Lowery-Collins,60,delinchackrapurkal@gmail.com,997860.67,KES,2024-07-14,2370,2370,9.978607e+05
99996,2024-10-18,"Mendez, Hancock and Fletcher",14,delinchackrapurkal@gmail.com,524911.92,KES,2024-11-01,79832,79832,5.249119e+05
99997,2024-06-07,Armstrong-Kramer,21,delinchackrapurkal@gmail.com,604050.58,USD,2024-06-28,38022,38022,9.664809e+07
99998,2024-12-15,Beck and Sons,30,delinchackrapurkal@gmail.com,922647.50,USD,2025-01-14,37320,37320,1.476236e+08
99999,2024-07-19,"Berger, Clay and Hart",30,delinchackrapurkal@gmail.com,903660.84,KES,2024-08-18,35196,35196,9.036608e+05

In [7]:
data['gross_interest']=(
    (data['credit_terms']+(input_data['cost_of_finance_per_day']/100))*data['value_in_kes']
)

/tmp/ipykernel_86969/3095356513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gross_interest']=(

In [8]:
data

,invoice_date,name,credit_terms,email,invoice_gross_vlaue,invoice_currency,payment_data,id,customer_id,value_in_kes,gross_interest
0,2024-11-04,Palmer-Peterson,45,delinchackrapurkal@gmail.com,739230.78,KES,2024-12-19,61602,61602,7.392308e+05,3.326686e+07
1,2024-05-15,Rojas and Sons,30,delinchackrapurkal@gmail.com,719247.31,USD,2024-06-14,18058,18058,1.150796e+08,3.452617e+09
2,2024-12-25,Alvarado-West,30,delinchackrapurkal@gmail.com,657090.84,USD,2025-01-24,66407,66407,1.051345e+08,3.154246e+09
3,2024-10-30,"Hurst, Allen and Gibson",14,delinchackrapurkal@gmail.com,529395.69,KES,2024-11-13,96909,96909,5.293957e+05,7.412598e+06
4,2024-06-22,Phillips PLC,0,delinchackrapurkal@gmail.com,738127.99,USD,2024-06-22,91698,91698,1.181005e+08,2.362010e+05
...,...,...,...,...,...,...,...,...,...,...,...
99995,2024-05-15,Lowery-Collins,60,delinchackrapurkal@gmail.com,997860.67,KES,2024-07-14,2370,2370,9.978607e+05,5.987364e+07
99996,2024-10-18,"Mendez, Hancock and Fletcher",14,delinchackrapurkal@gmail.com,524911.92,KES,2024-11-01,79832,79832,5.249119e+05,7.349817e+06
99997,2024-06-07,Armstrong-Kramer,21,delinchackrapurkal@gmail.com,604050.58,USD,2024-06-28,38022,38022,9.664809e+07,2.029803e+09
99998,2024-12-15,Beck and Sons,30,delinchackrapurkal@gmail.com,922647.50,USD,2025-01-14,37320,37320,1.476236e+08,4.429003e+09
99999,2024-07-19,"Berger, Clay and Hart",30,delinchackrapurkal@gmail.com,903660.84,KES,2024-08-18,35196,35196,9.036608e+05,2.711163e+07

In [ ]:
data.head(20)

,Customer Name,Type of sale,Invoice Gross Value,Invoice Currency,Invoice value in kes,Invoice Date,Credit Days- As per terms,Payment date as per credit period,Payment Date as per SCO,Daily Cost of Finance,Payment made early by,Saved Cost of Finance (KES),Discount already offered,Discount to Customer,Amount Retained by Business,Amount to be received after changes,Credit days,Days,Condition,Interest without discount
0,Flora Food Manufacturing Kenya Limited,RDC Dom Sales,3333.00,USD,423291.00,2025-03-27,60,2025-05-26,2025-05-01,139.164164,25,3479.104110,NaN,1391.641644,2087.462466,1941.358356,60 Days Net,60,Days Net,8349.849863
1,Flora Food Manufacturing Kenya Limited,NDC Dom Sales,3347.00,USD,425069.00,2025-03-28,60,2025-05-27,2025-05-02,139.748712,25,3493.717808,NaN,1397.487123,2096.230685,1949.512877,60 Days Net,60,Days Net,8384.922740
2,Flora Food Manufacturing Kenya Limited,NDC Dom Sales,3535.00,USD,448945.00,2025-03-28,60,2025-05-27,2025-05-02,147.598356,25,3689.958904,NaN,1475.983562,2213.975342,2059.016438,60 Days Net,60,Days Net,8855.901370
3,Flora Food Manufacturing Kenya Limited,RDC Dom Sales,3535.00,USD,448945.00,2025-03-27,60,2025-05-26,2025-05-01,147.598356,25,3689.958904,NaN,1475.983562,2213.975342,2059.016438,60 Days Net,60,Days Net,8855.901370
4,Vegol Limited,NDC Dom Sales,3706.01,USD,470663.27,2025-03-11,60,2025-05-10,2025-04-15,154.738609,25,3868.465233,NaN,1547.386093,2321.079140,2158.623907,60 Days Net,60,Days Net,9284.316559
5,Vegol Limited,NDC Dom Sales,3818.00,USD,484886.00,2025-03-11,60,2025-05-10,2025-04-15,159.414575,25,3985.364384,NaN,1594.145753,2391.218630,2223.854247,60 Days Net,60,Days Net,9564.874521
6,Marenga Investment Co. Ltd,Pwani Dom Sales,4470.00,USD,567690.00,2025-03-27,30,2025-04-26,2025-04-13,186.637808,13,2426.291507,NaN,970.516603,1455.774904,3499.483397,30 Days Net,30,Days Net,5599.134247
7,Mhakeni Investments,Pwani Dom Sales,402900.41,KES,402900.41,2025-03-06,21,2025-03-27,2025-03-17,132.460409,10,1324.604088,NaN,529.841635,794.762453,402370.568365,21 Days Net,21,Days Net,2781.668584
8,Mhakeni Investments,Pwani Dom Sales,402900.41,KES,402900.41,2025-03-06,21,2025-03-27,2025-03-17,132.460409,10,1324.604088,NaN,529.841635,794.762453,402370.568365,21 Days Net,21,Days Net,2781.668584
9,Tamarind Management Limited,FO Sales,403124.95,KES,403124.95,2025-03-03,60,2025-05-02,2025-04-07,132.534230,25,3313.355753,NaN,1325.342301,1988.013452,401799.607699,60 Days Net,60,Days Net,7952.053808
10,Cherangani Hills Ltd,NDC Dom Sales,403199.79,KES,403199.79,2025-03-03,21,2025-03-24,2025-03-14,132.558835,10,1325.588351,NaN,530.235340,795.353010,402669.554660,21 Days Net,21,Days Net,2783.735536
11,Zen M Limited,Pwani Dom Sales,403201.79,KES,403201.79,2025-03-18,30,2025-04-17,2025-04-04,132.559493,13,1723.273404,NaN,689.309362,1033.964042,402512.480638,30 Days Net,30,Days Net,3976.784778
12,Jamaa Supermarket Ltd,Pwani Dom Sales,409999.72,KES,409999.72,2025-03-04,30,2025-04-03,2025-03-21,134.794428,13,1752.327570,NaN,700.931028,1051.396542,409298.788972,30 Days Net,30,Days Net,4043.832855
13,Jamaa Supermarket Ltd,Pwani Dom Sales,409999.72,KES,409999.72,2025-03-05,30,2025-04-04,2025-03-22,134.794428,13,1752.327570,NaN,700.931028,1051.396542,409298.788972,30 Days Net,30,Days Net,4043.832855
14,Crimsoncloud Construction & General Suppliers,Pwani Dom Sales,410756.44,KES,410756.44,2025-03-17,30,2025-04-16,2025-04-03,135.043213,13,1755.561771,NaN,702.224708,1053.337063,410054.215292,30 Days Net,30,Days Net,4051.296395
15,Gashstar Limited,Pwani Dom Sales,414480.46,KES,414480.46,2025-03-17,30,2025-04-16,2025-04-03,136.267548,13,1771.478130,NaN,708.591252,1062.886878,413771.868748,30 Days Net,30,Days Net,4088.026455
16,Zen M Limited,Pwani Dom Sales,420000.03,KES,420000.03,2025-03-12,30,2025-04-11,2025-03-29,138.082202,13,1795.068621,NaN,718.027449,1077.041173,419282.002551,30 Days Net,30,Days Net,4142.466049
17,Gilani's Distributors Ltd,WDC Dom Sales,420001.03,KES,420001.03,2025-03-27,21,2025-04-17,2025-04-07,138.082530,10,1380.825304,NaN,552.330122,828.495182,419448.699878,21 Days Net,21,Days Net,2899.733139
18,Zen M Limited,NDC Dom Sales,430079.78,KES,430079.78,2025-03-06,30,2025-04-05,2025-03-23,141.396092,13,1838.149197,NaN,735.259679,1102.889518,429344.520321,30 Days Net,30,Days Net,4241.882762
19,Zen M Limited,NDC Dom Sales,435198.79,KES,435198.79,2025-03-27,30,2025-04-26,2025-04-13,143.079054,13,1860.027705,NaN,744.011082,1116.016623,434454.778918,30 Days Net,30,Days Net,4292.371627

In [ ]:

data.columns

Index(['Customer Name', 'Type of sale', 'Invoice Gross Value',
       'Invoice Currency', 'Invoice value in kes ', 'Invoice Date',
       'Credit Days- As per terms', 'Payment date as per credit period',
       'Payment Date as per SCO', 'Daily Cost of Finance ',
       'Payment made early by', 'Saved Cost of Finance (KES)',
       'Discount already offered', 'Discount to Customer',
       'Amount Retained by Business ', 'Amount to be received after changes',
       'Credit days', 'Days', 'Condition', 'Interest without discount'],
      dtype='object')

In [ ]:
data=data[data['Invoice Gross Value']>=40000]
data['gross_finance']=(data['Credit Days- As per terms']*(0.0329/100))*data['Invoice Gross Value']*127
data['max_allowed_offer']=data['Invoice Gross Value']*(9/100)

In [ ]:
from typing import TypedDict


class InputConditions(TypedDict):
    minimum_threshold:int
    persentage_of_discount_savings:int
    max_discount_amount:int
    cost_of_finance_per_day:int 
    day_14_c:int
    day_21_c:int
    day_30_c:int
    day_60_c:int
    excahnge_rate:int




def offer_processor(input_data:InputConditions,data=pd.DataFrame):

    filtered_data=data[data['Invoice Gross Value']>=input_data.minimum_threshold]
    filtered_data['gross_finance']=(filtered_data['Credit Days- As per terms']*(input_data.cost_of_finance_per_day/100))*filtered_data['Invoice Gross Value']*input_data.excahnge_rate
    filtered_data['max_allowed_offer']=filtered_data['Invoice Gross Value']*(input_data.max_discount_amount/100)
    filtered_data['discount_amount']=filtered_data['gross_finance']*(40/100)
    final_data=filtered_data[filtered_data['max_allowed_offer']>filtered_data['discount_amount']]    
    return final_data

In [ ]:
from database import query_based_on_gross_value,create_db_from_data, mark_request_sent,mark_request_accepted,update_payment_date,update_total_interest
import pandas as pd


def offer_processor(input_data: dict) -> pd.DataFrame:

    raw_data = query_based_on_gross_value(input_data['minimum_threshold'])


    filtered_data = pd.DataFrame(raw_data)
   

    filtered_data['gross_finance'] = (
        filtered_data['credit_days'] * (input_data['cost_of_finance_per_day'] / 100) *filtered_data['invoice_gross_value_kes'] 
    )

    filtered_data['max_allowed_offer'] = (
        filtered_data['invoice_gross_value_kes'] *  (input_data['max_discount_amount'] / 100)
    )

    filtered_data['discount_amount'] = (
        filtered_data['gross_finance'] * (input_data['persentage_of_discount_savings'] / 100)
    )

    final_data = filtered_data[
        filtered_data['max_allowed_offer'] > filtered_data['discount_amount']
    ]

    final_data["offer_avail_data"] = final_data.apply(lambda x: x["payment_date"] + pd.to_timedelta(input_data[x["credit_days"]], unit="d"), axis=1
)

    return final_data

# sql Model

In [ ]:
from sqlmodel import SQLModel, Field ,create_engine ,Session ,Relationship, select



engine= create_engine('sqlite:///orm.db')


session=Session(engine)
output=select(Author.name,Author.email,Book.content).join(Book)


output

In [ ]:
for i,j,k in session.exec(output):

name:Alice, email:Alice@ff.com, content:This is the content
name:Alice, email:Alice@ff.com, content:Alice goes on an adventure
name:Bob, email:bob@ff.com, content:Bob learns to build a boat
name:Clara, email:clara@ff.com, content:A science fiction novel by Clara
name:David, email:david@ff.com, content:Exploring ocean mysteries
name:Clara, email:clara@ff.com, content:A tech thriller from Clara
name:David, email:david@ff.com, content:Data science made simple

In [ ]:
from sqlmodel import SQLModel, Field ,create_engine ,Session ,Relationship, select   


engine= create_engine('sqlite:///orm-.db')


# session=Session(engine)

class Author(SQLModel, table=True):
    id:int=Field(default=None, primary_key=True)
    name: str =Field(max_length=50)
    email:str= Field(max_length=50)

    books:list["Book"]=Relationship(back_populates="author")



class Book(SQLModel,table=True):
    id: int =Field(default=None,primary_key=True)
    title: str = Field (max_length=100)
    content:str
    author_id:int =Field(foreign_key='author.id')

    author: Author =Relationship(back_populates="books")



SQLModel.metadata.create_all(engine)

In [ ]:
import csv
import random
from faker import Faker
from datetime import date

fake=Faker()

credit_terms_exact = [
    "30 Days Net", "7 Days Net", "Immediate", "45 Days Net",
    "21 Days Net", "60 Days Net", "14 Days Net"
]

# Generate 5000 unique customer entries with unique customer IDs
unique_customer_rows = []
used_ids = set()

default_email='delinchackrapurkal@gmail.com'

start_date = date(2014, 1, 1)
end_date = date(2024, 12, 31)


while len(unique_customer_rows) < 5000:
    cust_id = random.randint(1000, 99999)
    if cust_id in used_ids:
        continue
    used_ids.add(cust_id)
    name = fake.company()
    terms = random.choice(credit_terms_exact)
    reg_date = fake.date_between(start_date, end_date)
    reg_date_str = reg_date.strftime("%Y-%m-%d")

    unique_customer_rows.append([cust_id, name, terms, default_email,reg_date_str])

# Write to CSV
unique_file_path = "customer_master.csv"
with open(unique_file_path, "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Customer_No", "Customer_Name", "Terms", "email", "Entered_date" ])
    writer.writerows(unique_customer_rows)

unique_file_path

'customer_master.csv'

In [1]:
import csv
import random
from faker import Faker
from datetime import date

fake=Faker()


# Generate 5000 unique customer entries with unique customer IDs
unique_invoice = []
used_ids = set()
credit_terms_exact = [
    "30 Days Net", "7 Days Net", "Immediate", "45 Days Net",
    "21 Days Net", "60 Days Net", "14 Days Net"
]

start_date = date(2024, 5, 1)
end_date = date(2024, 12, 31)


while len(unique_invoice) < 100000:
    invoice_id = random.randint(1000, 999999)
    
    if invoice_id in used_ids:
        continue
    used_ids.add(invoice_id)
    invoice_date = fake.date_between(start_date, end_date)
    value = round(random.uniform(0.2, 1.0) ** 0.5 * 1_000_000, 2)
    customer_name = fake.company()
    credit_terms = random.choice(credit_terms_exact)
    invoice_gross_value=max(value, 200_000)
    invoice_currency=random.choice(["KES","USD"])
    email=fake.email()
    



    

    unique_invoice.append([invoice_id,invoice_date,invoice_gross_value,invoice_currency,customer_name, credit_terms ,email])

# Write to CSV
unique_file_path = "customer_invoice.csv"
with open(unique_file_path, "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["invoice_id", "invoice_date", "invoice_gross_value", "invoice_currency","customer_name","credit_terms","email"  ])
    writer.writerows(unique_invoice)

unique_file_path

'customer_invoice.csv'

In [2]:
import pandas as pd
data=pd.read_csv('customer_invoice.csv')

In [3]:
data

,invoice_id,invoice_date,invoice_gross_value,invoice_currency,customer_name,credit_terms,email
0,542683,2024-07-04,875906.46,USD,Jones-Reed,14 Days Net,ocox@example.net
1,354657,2024-12-10,593963.28,KES,Vang-James,14 Days Net,simontimothy@example.com
2,22469,2024-09-09,711137.77,KES,Fowler-Campbell,7 Days Net,zgray@example.org
3,812623,2024-10-22,994607.40,USD,"White, Wagner and Velazquez",21 Days Net,anthonywade@example.com
4,764755,2024-12-30,853376.28,USD,"Lopez, Flores and Robertson",7 Days Net,annaking@example.net
...,...,...,...,...,...,...,...
99995,387055,2024-09-21,874870.37,USD,Brown LLC,14 Days Net,ronnie57@example.com
99996,465218,2024-05-20,897905.18,USD,"Bender, Newman and Dalton",21 Days Net,sarahhorton@example.org
99997,303696,2024-12-16,583816.61,KES,Sims-Fields,14 Days Net,hmiller@example.com
99998,174787,2024-12-26,902689.02,USD,Owens-Dominguez,45 Days Net,hannahadams@example.net
99999,292005,2024-07-07,982086.21,USD,Fox PLC,60 Days Net,wdaniels@example.com